/* Wrapper */

.register {
  width: 100vw;
  min-height: 1000px;
  background-image: url('../../assets/img/bgIndex.webp');
  background-size: auto 1080px;
  background-position: center auto;
  background-repeat: no-repeat;
  padding-top: 78px;
  box-sizing: border-box;
}

.register h1 {
  font-size: 42px;
  color: #fff;
  text-align: center;
  letter-spacing: -0.7px;
}

.register__table {
  width: 380px;
  height: 620px;
  background-color: #fff;
  border-radius: 12px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  padding: 40px 30px 30px 40px;
  box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.register__table h2 {
  font-size: 24px;
  color: #0F5DE4;
  margin: 0 0 19px 0;
  letter-spacing: -0.6px;
}

.register__table .register__table-number {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.register__table form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.register__table form input {
  height: 44px;
  width: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  padding-left: 20px;
  padding-bottom: 3px;
  border-radius: 20px;
  border: 1px solid rgb(112, 112, 112, 0.1);
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.register__table form p {
  margin-bottom: 5px;
}

.register__table form input:nth-child(2) {
  margin-bottom: 20px;
}

.register__table form input::placeholder {
  transition-duration: 100ms;
}

.register__table form input:focus::placeholder {
  color: transparent;
}

.register__table form button {
  width: 100%;
  height: 44px;
  background-color: #0F5DE4;
  border-radius: 40px;
  text-align: center;
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
}

.register__table form .register__table-radio-button-list {
  margin-bottom: 25px;
}

.register__table form .register__table-radio-button-list .register__table-label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  margin: 0 20px 0 0;
  user-select: none;
}

.register__table form .register__table-radio-button-list .register__table-label .register__table-radio-text {
  display: flex;
  line-height: 20px;
}

.register__table form .register__table-radio-button-list .register__table-label .register__table-radio-text::before {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  content: '';
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  height: 20px;
  margin: 0 10px 0 0;
  width: 20px;
}

.register__table form .register__table-label .register__table-radio-button {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.register__table form .register__table-label .register__table-radio-button:checked + .register__table-radio-text::before {
  background-color: #bc9cff;
  border: 1px solid #bc9cff;
  box-shadow: 0px 0px 0px 3.3px white inset;
  box-sizing: border-box;
}