.error-text {
  width: 100vw;
  height: 100vh;
  text-align: center;
  // line-height: 100vh;
  vertical-align: middle;
  display: table-cell;
  font-size: 100px;
  font-family: "Segoe UI";
  font-weight: 600;
  color: rgba(15, 15, 15, .8);
}