@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI")
       url("../fonts/Segoe UI/Segoe UI.woff2") format("woff2");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  src: local("Segoe UI")
       url("../fonts/Segoe UI/Segoe UI Bold.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/MaterialIcons/MaterialIcons-Regular.woff2') format('woff2');
}