@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font-family: "Segoe UI";
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 48px;
  position: fixed;
  background-color: #fff;
  display: flex;
  top: 0;
}

.header .logo {
  margin-top: 7px;
  margin-left: 12px;
  font-size: 26px;
  color: #0F5DE4;
  font-family: Segoe UI;
  font-weight: bold;
}

.header .header__sign-in {
  position: absolute;
  right: 12px;
}

.header .header__sign-in .header__sign-in-button {
  width: 96px;
  height: 24px;
  display: flex;
  margin-top: 16px;
  font-size: 16px;
  color: #0F5DE4;
  align-items: center;
}

.header .header__sign-in .header__sign-in-button .header__sign-in-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.header .header__sign-in .header__sign-in-button .header__sign-in-logo {
  font-family: Segoe UI;
  font-weight: Semibold;
}
.header .header__sign-in .header__sign-in-button .header__sign-in-arrow {
  width: 16px;
  height: 16px;
  margin-left: 3px;
}

.header .header__sign-in .header__sign-in-links {
  width: 130px;
  height: 41px;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 14px;
}

.header .header__sign-in .header__sign-in-links a {
  text-decoration: none;
  font-family: Segoe UI;
}

/* Wrapper */

.wrapper {
  width: 100vw;
  min-height: 1000px;
  background-image: url('../img/bgIndex.webp');
  background-size: auto 1080px;
  background-position: center auto;
  background-repeat: no-repeat;
  padding-top: 100px;
  box-sizing: border-box;
}

.wrapper h1 {
  font-size: 42px;
  color: #fff;
  text-align: center;
  letter-spacing: -0.7px;
}

.login-table {
  width: 380px;
  height: 294px;
  background-color: #fff;
  border-radius: 12px;
  margin: 110px auto 0 auto;
  box-sizing: border-box;
  padding: 40px 30px 30px 40px;
  box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.login-table h2 {
  font-size: 24px;
  color: #0F5DE4;
  width: 237px;
  margin: 0 0 19px 0;
  letter-spacing: -0.6px;
}

.login-table .login-table__number {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.login-table form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login-table form input {
  height: 44px;
  width: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  padding-left: 20px;
  padding-bottom: 3px;
  border-radius: 20px;
  border: 1px solid rgb(112, 112, 112, 0.1);
  letter-spacing: 0.5px;
}

.login-table form .login-table__password p {
  margin-bottom: 5px;
}

.login-table form input:nth-child() {
  margin-bottom: 20px;
}

.login-table form input::placeholder {
  transition-duration: 100ms;
}

.login-table form input:focus::placeholder {
  color: transparent;
}

.login-table form button {
  width: 100%;
  height: 44px;
  background-color: #0F5DE4;
  border-radius: 40px;
  text-align: center;
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
}

.footer {
  width: 100vw;
  height: 80px;
  background-color: #fff;
  align-items: center;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}